*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background: rgb(233, 179, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width:400px;
}